<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="dark bg-[bg-white] text-black min-h-screen flex flex-col font-[Outfit] font-medium">
  <!-- Main Content -->
  <main class="flex-grow flex items-center justify-center px-4 bg-white">
    <div class=" max-w-md bg-white p-8 rounded-2xl  border-[1px] border-[#E5E5E5] mt-10">
      <div class="flex justify-between items-center mb-1">
        <h2 class="text-lg font-semibold">Login to your account</h2>
        <a href="/register" class="text-sm text-black hover:underline font-[300]">Sign Up</a>
      </div>
      <p class="text-sm text-[#737373] mb-6 font-[300]">Enter your email below to login to your account</p>

      <% if (error) { %>
        <div class="bg-red-600 text-white p-2 rounded mb-4 text-sm text-center">
          <%= error %>
        </div>
      <% } %>
      <form action="/login" method="POST" class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium text-black font-[300] ">Email</label>
          <input
            type="email"
            name="email"
            id="email"
             autocomplete="off"
            placeholder="example12@gmail.com "
            required
            class="placeholder-[#737373] font-[200] w-full mt-1 px-4 py-2 rounded text-black border border-[#E5E5E5] outline-none "
          />
        </div>

        <div>
          <div class="flex justify-between items-center mb-1">
            <label for="password" class="text-sm font-medium text-black font-[200]">Password</label>
            <a href="/forgot-password" class="text-sm text-white font-[300]">Forgot your password?</a>
          </div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            required
            class="placeholder-[#737373] font-[200] w-full mt-1 px-4 py-2 rounded text-black border border-[#E5E5E5] outline-none  "
          />
        </div>

        <button
          type="submit"
          class="w-full bg-[#171717] text-white font-semibold py-2 rounded font-[Outfit]  "
        >
          Login
        </button>

      
      </form>
    </div>
  </main>
</body>
</html>
